html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0E2249;
}

/* media queries */

@media (min-width: 550px) {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 4%;
  }

  figure,
  .span2 {
    flex-basis: 48%;
  }

  .span3 {
    flex-basis: 100%;
  }

  .span3-1 {
    flex-basis: 100%;
  }

  .span4 {
    flex-basis: 100%;
  }

  .span2-4 {
    flex-basis: 100%;
  }
}

@media (min-width: 800px) {

  figure,
  .span3-1 {
    flex-basis: 22%;
  }

  .span2,
  .span2-4 {
    flex-basis: 48%;
  }

  .span3 {
    flex-basis: 74%;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }
}

/* figure config */

figure {
  margin: 0;
  padding: 20px 10px;
}

figcaption {
  background-color: #001219;
  color: white;
  padding: 1rem;
}

figcaption * {
  margin: 0.5rem;
}

figure>div {
  background-image: url("japan.jpg");
  background-size: cover;
  min-height: 150px;
}